@import "tailwindcss";

@theme {
  --color-primary: #1B998B;
  --color-secondary: #B87D4B;
  --color-ternary: #982649;
  --color-default: #F1E9DB;
  --color-primary-foreground: #F1E9DB;
  --color-secondary-foreground: #F1E9DB;
  --color-ternary-foreground: #F1E9DB;
  --color-default-foreground: #07020D;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: var(--color-default-foreground);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-default);
}
