@import "tailwindcss";

/* ::-webkit-scrollbar {
  width: 0.5rem;
  background-color: rgb(28, 25, 23);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(209, 213, 219);
} */

/* body ::-webkit-scrollbar {
  display: none;
} */

@theme {
  --color-primary: #1B998B;
  --color-secondary: #B87D4B;
  --color-ternary: #982649;
  --color-default: #F1E9DB;
  --color-primary-foreground: #F1E9DB;
  --color-secondary-foreground: #F1E9DB;
  --color-ternary-foreground: #F1E9DB;
  --color-default-foreground: #07020D;
}
